@page "/fetchdata/{ticker?}"
@using OptionStrikes.Entities
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Option Chains</h1>

@if (yahooResponse == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Options for @Ticker | Last price: @Price</p>
    <RadzenDataGrid Data="@options" TItem="ExpirationOption" CellRender="@CellRender">
        <Columns>
            <RadzenDataGridColumn TItem="ExpirationOption" Property="CallVolume" Title="Volume" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="ExpirationOption" Property="CallOpenInterest" Title="OI" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="ExpirationOption" Property="CallLastPrice" Title="Last" FormatString="{0:C2}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="ExpirationOption" Property="CallChange" Title="Change" FormatString="{0:C2}" TextAlign="TextAlign.Right">
                <Template Context="data">
                    @if (data.CallChange < 0)
                    {
                        <span style='color:red'>@string.Format("{0:C2}", @data.CallChange)</span>
                    }
                    else
                    {
                        <span style='color:green'>@string.Format("{0:C2}", @data.CallChange)</span>
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ExpirationOption" Property="CallBid" Title="Bid" FormatString="{0:C2}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="ExpirationOption" Property="CallAsk" Title="Ask" FormatString="{0:C2}" TextAlign="TextAlign.Right" />

            <RadzenDataGridColumn TItem="ExpirationOption" Property="Strike" Title="Strike" FormatString="{0:C2}" TextAlign="TextAlign.Right" />

            <RadzenDataGridColumn TItem="ExpirationOption" Property="PutBid" Title="Bid" FormatString="{0:C2}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="ExpirationOption" Property="PutAsk" Title="Ask" FormatString="{0:C2}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="ExpirationOption" Property="PutLastPrice" Title="Last" FormatString="{0:C2}" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="ExpirationOption" Property="PutChange" Title="Change" FormatString="{0:C2}" TextAlign="TextAlign.Right">
                <Template Context="data">
                    @if (data.PutChange < 0)
                    {
                        <span style='color:red'>@string.Format("{0:C2}", @data.PutChange)</span>
                    }
                    else
                    {
                        <span style='color:green'>@string.Format("{0:C2}", @data.PutChange)</span>
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ExpirationOption" Property="PutVolume" Title="Volume" TextAlign="TextAlign.Right" />
            <RadzenDataGridColumn TItem="ExpirationOption" Property="PutOpenInterest" Title="OI" TextAlign="TextAlign.Right" />
       </Columns>
    </RadzenDataGrid>
}

@code {
    [Parameter]
    public string? Ticker { get; set; }

    private YahooOptionsResponse? yahooResponse;
    private List<ExpirationOption>? options;
    private double Price;


    protected override async Task OnInitializedAsync()
    {
        Ticker = Ticker ?? "AAPL";
        var request = new YahooOptionsRequest(Ticker, 1642723200);
        yahooResponse = await Http.GetFromJsonAsync<YahooOptionsResponse>(request.Url);
        options = yahooResponse?.OptionChain?.ExpirationOptions;
        Price = yahooResponse?.OptionChain?.Result?[0].Quote?.RegularMarketPrice ?? 0;
    }

    void CellRender(DataGridCellRenderEventArgs<ExpirationOption> args)
    {
        if ((args.Column.Property.StartsWith("Call") && args.Data.Strike <= Price) || (args.Column.Property.StartsWith("Put") && args.Data.Strike > Price))
        {
            args.Attributes.Add("style", "background-color:#f2f2f2");
        }
        else if (args.Column.Property == "Strike")
        {
            args.Attributes.Add("style", "background-color:#d1dbff");
        }
        else
        {
            args.Attributes.Add("style", "background-color:#ffffff");
        }
    }
}
